on early-init
	start ueventd

on init
	export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
	export LD_LIBRARY_PATH /vendor/lib:/system/lib
	export ANDROID_ROOT /system
	export ANDROID_DATA /data
	export EXTERNAL_STORAGE /sdcard

	symlink /system/etc /etc

	mkdir /sdcard
	mkdir /preload
	mkdir /system
	mkdir /data
	mkdir /cache
	mkdir /efs
	mkdir /tmp
	mkdir /dbdata

	mkdir /mnt 0775 root root
	mkdir /data 0771 system system
	chown system system /data
	chmod 0771 /data 

on early-fs
	insmod /lib/modules/param.ko

on fs
	mount tmpfs tmpfs /tmp
	mount yaffs2 mtd@system /system

	mkdir /data
	mount ext4 /dev/block/mmcblk0p1 /data noatime barrier=1 data=ordered noauto_da_alloc
	mount vfat /dev/block/mmcblk1p1 /sdcard 
	chown system system /data
	chmod 0771 /data
	chmod 0777 /data/fota

on boot
	ifup lo
	hostname localhost
	domainname localdomain

	class_start default

service ueventd /sbin/ueventd
	critical

service console /system/bin/sh
	console

service redbend_ua /sbin/redbend_ua all
	oneshot

on property:persist.service.adb.enable=1
	start adbd
